/* src/components/Footer/Footer.css */

footer {

  margin-bottom: 0;
  background-color: #003366;
  color: white; /* This ensures the text is readable on a dark background */
  width: 100%;
  
  bottom: 0; /* Align the footer to the bottom */
  left: 0; /* Ensure the footer spans the entire width */
  height: 45px; /* Adjust the height as needed */
  display: flex;
  align-items: center;
  justify-content: center;
}
